



{% extends 'base.html' %}

{% block title %} Deletar Item  {% endblock title %}

{% block titlePage %} Apagar Item  {% endblock titlePage %}

{% block content %}

<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Column -->

                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="col-12">
                                            <h4 class="card-title">Mensagem de confirmação</h4>
                                            <div class="alert alert-danger">Vc tem certeza q quer deletar o item {{ item.nome}} ? </div>
                                            <button type="submit" class="btn btn-danger pull-right"><i class="fa fa-trash"></i> Deletar</button>
                                            <a class="btn btn-info" href="{%  url 'item.atualizar' item.id %}">
                                                <i class="fa fa-backward"></i> Voltar
                                            </a>
                                        </div>

                                    </form>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>




{% endblock content %}