{% extends 'base.html' %}

{% block title %} Item  {% endblock title %}

{% block titlePage %} Item  {% endblock titlePage %}

{% block content %}


<div class="row">
    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"></h4>
                            <a href="{% url 'item.cadastro'%}">
                                    <button type="button" class="btn btn-primary"><i class="fa fa-check"></i> Novo</button>
                                </a>
                            <br> <br>
                                <div class="table-responsive">
                                    <table class="table color-table primary-table">
                                        <thead>
                                            <tr>
                                                <th>Cód.</th>
                                                <th>Produto</th>
                                                <th>Valor</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        {% for item in itens %}
                                             <tr>
                                                <td> {{item.codigo}} </td>
                                                <td>{{item.nome}}</td>
                                                <td>{{item.valor}}</td>
                                                <td><a href="{%  url 'item.atualizar' item.id %}">Editar</a></td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
    </div>
</div>



{% endblock content %}